@media (max-width:1199px) {
  .container {
    max-width: 95%;
    padding: 32px 40px;
  }
  .logo {
    height: auto;
  }

  .logo a{
    font-size: 1.35rem;
    font-weight: 450;
    text-shadow:
    0 1px 0 rgba(255,255,255,0.6);
  }

  nav a {
    padding: 0 14px;
    font-size: 1rem;
  }
  .home {
    gap: 24px;
  }
  .home-text {
    max-width: 520px;
    font-size: 0.95rem;
  }
  .my-photo {
    width: 230px;
  }
    .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  h3 {
    font-size: 1.2rem;
  }
}

@media(max-width: 800px) {
  .logo a{
    font-size: 1.1rem;
    margin-top: 0;
  }
  nav {
    padding: 10px 0 10px 10px;
  }
  nav li {
    height: auto;
  }
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .title {
    font-size: 1.4rem;
    margin: 1.5rem;
  }
  .contact .title {
    margin-left: 0;
  }
  .home .title {
    margin: 1.2rem auto;
  }
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home p {
    padding: 0;
    margin: 0.2rem 0;
  }
  .my-photo {
    width: 250px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .lang-switch {
    display: none;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .aboutMe p{
    padding: 0;
    margin: 0.7rem 0;
  }
   .aboutMeImage {
    float: none;
    display: block;
    margin: 0 auto 1.5rem auto;
    min-width: 250px;
    order: 1;
  } 
  .aboutMeTitle {
    order: 2;
  }
  .aboutMe p {
    order: 3;
  }
}

@media(max-width: 400px) {
  .sidebar{
    width: 100%;
  }
  .logo a{
    white-space: wrap;
  }
}

@media (hover: none) {
  .sidebar a:hover {
    color: inherit;
    background: none;
  }
}

@media (hover: hover) {
  .glass-btn:hover {
    color: var(--nav-text-hover);
    transform: translateY(-2px);
    box-shadow:
      0 14px 35px rgba(0,0,0,0.2),
      inset 0 1px 0 rgba(255,255,255,0.8);
  }
   .tag:hover {
    transform: translateY(-1px);
    background: rgba(255,255,255,0.65);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.8),
      0 6px 16px rgba(0,0,0,0.15);
  }
}



