body {
  background: var(--bg-image) no-repeat;
  background-size: cover;
  opacity: 0.9;
  min-height: 100vh;
}

html,body {
  min-height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  
}