.home {
  display: flex;
  gap: 30px;
  align-items: center;
}

.home-text{
  max-width: 600px;
  line-height: 1.2em;
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.title {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 2rem;
}

.my-photo {
  width: 270px;
  border-radius: 5px;
  object-fit: cover;
}