body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-main);
}

h2 {
  font-size: 1.8rem; 
}

h3 {
  font-size: 1.4rem;     
}

p {
  font-size: 1rem;
}

.home p{
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

footer,
.project p {
  font-size: 0.9rem;
}

.title {
  font-size: 1.8rem;
  display: block;
}