.overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.35); /* ciemne glass */
  backdrop-filter: blur(2px);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease;
  
  z-index: 900;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 801px) {
  .overlay {
    display: none;
  }
}